Flask
requests
python-dotenv
matplotlib
pandas
plotly
numpy
streamlit
yfinance
reportlab
fpdf2
openai
google-generativeai
finnhub-python
alpha-vantage
mplfinance
scikit-learn
ta-lib
python-dateutil
pytz
